@page "/ProductionBatch"


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" @onclick="()=> GetProducts()" data-bs-target="#addModal">
    Thêm một lô sản phẩm mới
</button>
<h1>Danh sách lô sản phẩm hiện có</h1>
<hr />
@if (productionBatches is null || products is null)
{
    <p><em>Loading....!</em></p>
}
else
{
    <RadzenDataGrid AllowColumnResize="true" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@productionBatches.AsQueryable()" TItem="@ProductBathResponse" ColumnWidth="150px" AllowFiltering="true" FilterMode="FilterMode.Simple"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
        <Columns>
            <RadzenDataGridColumn TItem="@ProductBathResponse" Property="ProductionBatch.ProductionBatchName" Title="Số lô" Width="100px" TextAlign="TextAlign.Center"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@ProductBathResponse" Property="Products.ProductName" Title="Tên sản phẩm"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@ProductBathResponse" Property="Quantity" Title="Số lượng trong một lô" TextAlign="TextAlign.End" Width="120px"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@ProductBathResponse" Property="PriceOfBatch" Title="Giá tiền" TextAlign="TextAlign.End" Width="75px"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@ProductBathResponse" Property="ManufactureDate" Title="Ngày sản xuất"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@ProductBathResponse" Property="ExpiryDate" Title="Ngày hết hạn"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@ProductBathResponse" Title="Tùy chọn" TextAlign="TextAlign.Center">
                <Template Context="data">
                    <a class="w-20 btn btn-success mx-2 my-auto" data-bs-toggle="modal" data-bs-target="#addModal"
                         @onclick="() => GetProductBatchByProductionBatchID(data.ProductionBatchID)">
                        <span class="bi bi-pencil mx-1" aria-hidden="true"> </span>
                    </a>
                    <a class="w-20 btn btn-danger mx-2 my-auto" @onclick="() => DeleteProductbatch(data.ProductionBatchID)">
                        <span class="bi bi-trash mx-1" aria-hidden="true"> </span>
                    </a>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">@((addProductionBatch == true ? "Thêm mới" : "Chỉnh sửa") + " lô sản phẩm")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@productionBatchModel" OnSubmit="@CreateProductionBatch" FormName="ProductionBatch">
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" style="width:150px;" for="Product">Tên sản phẩm</label>
                            <select class="form-select" id="Product" @bind="@productionBatchModel!.ProductID">
                                <option selected>
                                    Choose...
                                </option>
                                @foreach (var data in products!)
                                {
                                    <option value="@data.ProductID">@data.ProductName</option>
                                }
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" style="width:150px;" for="Product">Đơn vị của lô</label>
                            <select class="form-select" id="Product" @bind="@productionBatchModel!.UnitID">
                                <option selected>
                                    Choose...
                                </option>
                                @foreach (var data in units!)
                                {
                                    <option value="@data.UnitID">@data.UnitName</option>
                                }
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" style="width:150px;">Số lượng theo đơn vị</label>
                            <input @bind="@productionBatchModel.Quantity" type="number" class="form-control">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" style="width:150px;">Giá nhập</label>
                            <input @bind="@productionBatchModel.PriceOfBatch" type="number" class="form-control">
                            <label class="input-group-text" style="width:50px;">VND</label>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" style="width:150px;">Ngày sản xuất</label>
                            <input @bind="@productionBatchModel.ManufactureDate" type="datetime-local" class="form-control" @oninput="HandleManufactureDateChange">
                        </div>
                        @if (!string.IsNullOrEmpty(CheckManufactureDate))
                        {
                            <div class="alert alert-danger">@CheckManufactureDate</div>
                        }
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" style="width:150px;">Ngày hết hạn</label>
                            <input @bind="@productionBatchModel.ExpiryDate" type="datetime-local" class="form-control" @oninput="HandleExpiryDateChange">
                        </div>
                        @if (!string.IsNullOrEmpty(CheckExpiryDate))
                        {
                            <div class="alert alert-danger">@CheckExpiryDate</div>
                        }

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="ClearData">Đóng</button>
                            <button class="btn btn-primary" data-bs-dismiss="modal" type="submit" disabled="@IsButtonDisabled">Lưu</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}