@page "/ProductionBatch"


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" @onclick="()=> GetProducts()" data-bs-target="#addModal">
    Add product batch
</button>
<h1>Production batch manager</h1>
<hr />
@if (productionBatches is null || products is null)
{
    <p><em>Loading....!</em></p>
}
else
{
    <table class="table table-striped table-hover table-responsive table-responsive-sm w-100">
        <thead class="table-light">
            <tr>
                <th>Product batchs</th>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Manufacture date</th>
                <th>Expiry date</th>
                <th class=" text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in productionBatches!)
            {
                <tr>
                    <td>@data.ProductionBatchName</td>
                    <td>@data.Products!.ProductName</td>
                    <td>@data.Quantity</td>
                    <td style="max-width:200px">@data.ManufactureDate</td>
                    <td>@data.ExpiryDate</td>
                    <td class=" d-flex">
                        <a class="w-50 btn btn-success mx-2 my-auto" data-bs-toggle="modal" data-bs-target="#addModal" @onclick="() => GetProductBatchByProductionBatchID(data.ProductionBatchID)">
                            <span class="bi bi-pencil mx-1" aria-hidden="true"> Edit</span>
                        </a>
                        <a class="w-50 btn btn-danger mx-2 my-auto" @onclick="() => DeleteProductbatch(data.ProductionBatchID)">
                            <span class="bi bi-trash mx-1" aria-hidden="true"> Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">@((addProductionBatch == true ? "Add" : "Edit") + " product batch")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@productionBatchModel" OnSubmit="@CreateProductionBatch" FormName="ProductionBatch">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Product batch name</span>
                            <input @bind="@productionBatchModel!.ProductionBatchName" type="text" class="form-control" @oninput="ValidateInput">
                        </div>
                        @if (!string.IsNullOrEmpty(ErrorMessage))
                        {
                            <div class="alert alert-danger">@ErrorMessage</div>
                        }
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="Product">Product</label>
                            <select class="form-select" id="Product" @bind="@productionBatchModel.ProductID">
                                <option selected>
                                    Choose...
                                </option>
                                @foreach (var data in products!)
                                {
                                    <option value="@data.ProductID">@data.ProductName</option>
                                }
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text">Quantity</label>
                            <input @bind="@productionBatchModel.Quantity" type="number" class="form-control">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text">Manufacture Date</label>
                            <input @bind="@productionBatchModel.ManufactureDate" type="datetime-local" class="form-control" @oninput="HandleManufactureDateChange">
                        </div>
                        @if (!string.IsNullOrEmpty(CheckManufactureDate))
                        {
                            <div class="alert alert-danger">@CheckManufactureDate</div>
                        }
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text">Expiry Date</label>
                            <input @bind="@productionBatchModel.ExpiryDate" type="datetime-local" class="form-control" @oninput="HandleExpiryDateChange">
                        </div>
                        @if (!string.IsNullOrEmpty(CheckExpiryDate))
                        {
                            <div class="alert alert-danger">@CheckExpiryDate</div>
                        }

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" data-bs-dismiss="modal" type="submit" disabled="@IsButtonDisabled">@(addProductionBatch == true ? "Create new" : "Edit") product batch</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}