@page "/StockOutbound"


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" @onclick="()=> GetProducts()" data-bs-target="#addModal">
    Export warehouse
</button>
<h1>Stock out warehouse</h1>
<hr />
@if (productionBatches is null || stockOutbounds is null)
{
    <p><em>Loading....!</em></p>
}
else
{
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">@((addButton == true ? "Add" : "Edit") + " product batch")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@stockOutboundModel" OnSubmit="@Create" FormName="Outbound">
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="Product">Product batch</label>
                            <select class="form-select" id="Product" @bind="@stockOutboundModel!.ProductionBatchID">
                                <option selected>
                                    Choose...
                                </option>
                                @foreach (var data in productionBatches!)
                                {
                                    <option value="@data.ProductionBatchID">@data.ProductionBatchName</option>
                                }
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text">Quantity inbound</label>
                            <input @bind="@stockOutboundModel.QuantityOutbound" type="number" class="form-control">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text">Note</label>
                            <textarea @bind="@stockOutboundModel.Note" type="text" class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="ClearData">Cancel</button>
                            <button class="btn btn-primary" data-bs-dismiss="modal" type="submit">Save</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
    <RadzenDataGrid AllowColumnResize="true" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@stockOutbounds.AsQueryable()" TItem="@StockOutBoundResponse" ColumnWidth="300px" AllowFiltering="true" FilterMode="FilterMode.Simple"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
        <Columns>
            <RadzenDataGridColumn TItem="@StockOutBoundResponse" Property="ProductionBatch.ProductionBatchName" Title="Product batch name"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@StockOutBoundResponse" Property="DateOutbound" Title="DateOutbound"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@StockOutBoundResponse" Property="QuantityOutbound" Title="Quantity inbound"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@StockOutBoundResponse" Property="Note" Title="Note"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="@StockOutBoundResponse" Title="Actions" TextAlign="TextAlign.Center">
                <Template Context="data">
                    <a class="w-20 btn btn-success mx-2 my-auto" data-bs-toggle="modal" data-bs-target="#addModal" @onclick="() => GetStockOutbound(data.OutboundID)">
                        <span class="bi bi-pencil mx-1" aria-hidden="true"> Edit</span>
                    </a>
                    <a class="w-20 btn btn-danger mx-2 my-auto" @onclick="() => Delete(data.OutboundID)">
                        <span class="bi bi-trash mx-1" aria-hidden="true"> Delete</span>
                    </a>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

}