@page "/"
@page "/product"
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" @onclick="ClearData">
  Thêm mới sản phẩm
</button>
<h1>Danh sách sản phẩm</h1>
<div>
  <input type="text" @bind="searchTerm" placeholder="Tìm kiếm" />
  <button @onclick="Search">Tìm kiếm theo tên</button>
</div>
<hr />
@if (products is null || categories is null || suppliers is null)
{
  <p><em>Loading....!</em></p>
}
else
{
  <table class="table table-striped table-hover table-responsive table-responsive-sm w-100">
    <thead class="table-light">
      <tr>
        <th>Tên sản phẩm</th>
        <th>Loại</th>
        <th>Công ty sản xuất</th>
        <th style="max-width: 200px">Số lượng trên mỗi sản phẩm</th>
        <th>Giá tiền</th>
        <th class="text-center">Tùy chọn</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var product in products!)
      {
        <tr>
          <td>@product.ProductName</td>
          <td>@product.Categories!.CategoryName</td>
          <td>@product.Suppliers!.CompanyName</td>
          <td style="max-width: 200px">@product.QuantityPerUnit</td>
          <td>@product.UnitPrice</td>
          <td class="d-flex">
            <a class="w-50 btn btn-success mx-2 my-auto" data-bs-toggle="modal" data-bs-target="#addModal"
              @onclick="() => EditProduct(product.ProductID)">
              <span class="bi bi-pencil mx-1" aria-hidden="true"> </span>
            </a>
            <a class="w-50 btn btn-danger mx-2 my-auto" @onclick="() => DeleteProduct(product.ProductID)">
              <span class="bi bi-trash mx-1" aria-hidden="true"> </span>
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">
            @((productModel!.ProductID == 0 ? "Thêm mới" : "Chỉnh sửa") + " sản phẩm")
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <EditForm Model="@productModel" OnSubmit="@CreateProduct" FormName="Product">
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 120px">Tên sản phẩm</span>
              <input @bind="@productModel!.ProductName" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" />
            </div>
            <div class="input-group input-group-sm mb-3">
              <label class="input-group-text" for="Category" style="width: 120px">Loại sản phẩm</label>
              <select class="form-select" id="Category" @bind="@productModel.CategoryID">
                <option selected>Chọn loại sản phẩm</option>
                @foreach (var category in categories!)
                {
                  <option value="@category.CategoryID">
                    @category.CategoryName
                  </option>
                }
              </select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <label class="input-group-text" for="Supplier" style="width: 120px">Nhà cung ứng</label>
              <select class="form-select" id="Supplier" @bind="@productModel.SupplierID">
                <option selected>Chọn một nhà cung ứng</option>
                @foreach (var supplier in suppliers!)
                {
                  <option value="@supplier.SupplierID">
                    @supplier.CompanyName
                  </option>
                }
              </select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 120px">Số lượng mỗi đơn vị</span>
              <input @bind="@productModel!.QuantityPerUnit" type="text" class="form-control"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 120px">Đơn giá</span>
              <input @bind="@productModel!.UnitPrice" type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" />
            </div>
            @if (editFunction)
            {
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 120px">Đơn vị cổ phiếu</span>
                <input @bind="@productModel!.UnitsInStock" type="text" class="form-control"
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 120px">Đơn đặt hàng</span>
                <input @bind="@productModel!.UnitsOnOrder" type="text" class="form-control"
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px">Số lần đặt hàng lại</span>
                <input @bind="@productModel!.ReorderLevel" type="text" class="form-control"
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" />
              </div>
            }
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="ClearData">
                Đóng
              </button>
              <button class="btn btn-primary" data-bs-dismiss="modal" type="submit">
                Lưu lại
              </button>
            </div>
          </EditForm>
        </div>
      </div>
    </div>
  </div>

}
<!-- Modal -->
<div>
  <Pagination ActivePageNumber="@currentPage" TotalPages="@totalPage" PageChanged="@OnPageChangedAsync" />
</div>
