@page "/"


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
    Add product
</button>
<h1>Product list</h1>
<div>
    <input type="text" @bind="searchTerm" placeholder="Search">
    <button @onclick="Search">Search</button>
</div>
<hr />
@if (products is null || categories is null || suppliers is null)
{
    <p><em>Loading....!</em></p>
}
else
{
    <table class="table table-striped table-hover table-responsive table-responsive-sm w-100">
        <thead class="table-light">
            <tr>
                <th>Product name</th>
                <th>Category name</th>
                <th>Company name</th>
                <th style="max-width:200px">QuantityPerUnit</th>
                <th>UnitPrice</th>
                <th>UnitsInStock</th>
                <th class=" text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products!)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Categories!.CategoryName</td>
                    <td>@product.Suppliers!.CompanyName</td>
                    <td style="max-width:200px">@product.QuantityPerUnit</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.UnitsInStock</td>
                    <td class=" d-flex">
                        <a class="w-50 btn btn-success mx-2 my-auto" href="EditProduct/@product.ProductID">
                            <span class="bi bi-pencil mx-1" aria-hidden="true"> Edit</span>
                        </a>
                        <a class="w-50 btn btn-danger mx-2 my-auto" href="DeleteProduct/@product.ProductID">
                            <span class="bi bi-trash mx-1" aria-hidden="true"> Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@productModel" OnSubmit="@CreateProduct" FormName="Product">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Product name</span>
                            <input @bind="@productModel!.ProductName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="Category">Category</label>
                            <select class="form-select" id="Category" @bind="@productModel.CategoryID">
                                <option selected>
                                    Choose...
                                </option>
                                @foreach (var category in categories!)
                                {
                                    <option value="@category.CategoryID">@category.CategoryName</option>
                                }
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="Supplier">Supplier</label>
                            <select class="form-select" id="Supplier" @bind="@productModel.SupplierID">
                                <option selected>
                                    Choose...
                                </option>
                                @foreach (var supplier in suppliers!)
                                {
                                    <option value="@supplier.SupplierID">@supplier.CompanyName</option>
                                }
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">QuantityPerUnit</span>
                            <input @bind="@productModel!.QuantityPerUnit" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">UnitPrice</span>
                            <input @bind="@productModel!.UnitPrice" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">UnitsInStock</span>
                            <input @bind="@productModel!.UnitsInStock" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">UnitsOnOrder</span>
                            <input @bind="@productModel!.UnitsOnOrder" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">ReorderLevel</span>
                            <input @bind="@productModel!.ReorderLevel" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </div>
                    </EditForm>
                </div>

            </div>
        </div>
    </div>

}


<!-- Modal -->

<div>
    <Pagination ActivePageNumber="@currentPage" TotalPages="@totalPage" PageChanged="@OnPageChangedAsync" />
</div>